.input {
  transition: all .3s;
}

.invalid {
  border-color: #ff0000 !important;
  color: #ff0000;
}

.invalid+label {
  color: #ff0000 !important;
}

.invalid:focus+label {
  color: #ff0000 !important;
}

.invalid:focus {
  box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.5);
}

.unvalidated:focus {
  border: 1px solid #39f !important;
}

.disabledButton {
  pointer-events: none;
  opacity: .7;
}